<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/src/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/static/css/style.css">

    <link rel="stylesheet" href="/src/static/css/css/all.css">

    <title>AI Feeding</title>
  </head>

  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="/src/static/img/logo1.png" alt="" id="logo1">
          </div>
          <div class="col-sm">
            <img src="/src/static/img/logo2.png" alt="" height="100px" id="logo2">
          </div>
          <div class="col-sm">
            <i class="fas fa-address-book" style="font-size: 80px;" id="card"></i>
          </div>
        </div>
      </div>
      <hr>
    <center><h2>Unit 2</h2></center>
  </section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h4><b>FARM</b></h4>
        <h4>Location</h4>
        <h4>A.I Status: OK!</h4>
      </div>

      <div class="col-sm">
      </div>

      <div class="col-sm" id="go">
      <input type="button" value="STOP AI" id="button1">   
      </div>

</section>
<section>
  <div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Unit</th>
        <th scope="col">-</th>
        <th scope="col">Time Dur.</th>
        <th scope="col">Classification</th>
        <th scope="col">Pelletes Counted</th>
        <th scope="col">Increase Feed</th>
        <th scope="col">Decrease Feed</th>
        <th scope="col">Appetite</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td>15</td>
        <td>100</td>
        <td>8</td>
        <td>5</td>
        <td>10</td>
        <td>150</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td>15</td>
        <td>100</td>
        <td>8</td>
        <td>5</td>
        <td>10</td>
        <td>150</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td>15</td>
        <td>100</td>
        <td>8</td>
        <td>5</td>
        <td>10</td>
        <td>150</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td>15</td>
        <td>100</td>
        <td>8</td>
        <td>5</td>
        <td>10</td>
        <td>150</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td>15</td>
        <td>100</td>
        <td>8</td>
        <td>5</td>
        <td>10</td>
        <td>150</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td>15</td>
        <td>100</td>
        <td>8</td>
        <td>5</td>
        <td>10</td>
        <td>150</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td>15</td>
        <td>100</td>
        <td>8</td>
        <td>5</td>
        <td>10</td>
        <td>150</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td>15</td>
        <td>100</td>
        <td>8</td>
        <td>5</td>
        <td>10</td>
        <td>150</td>
      </tr>
    </tbody>
  </table>
</div>
</section>
<script src="/src/static/Js/jquery-3.5.1.min.js"></script>
</body>

  