<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/src/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/static/css/style2.css">

    <link rel="stylesheet" href="/src/static/css/css/all.css">

    <title>AI Feeding</title>
  </head>

  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="/src/static/img/logo1.png" alt="" id="logo1">
          </div>
          <div class="col-sm">
            <img src="/src/static/img/logo2.png" alt="" height="100px" id="logo2">
          </div>
          <div class="col-sm">
            <i class="fas fa-address-book" style="font-size: 80px;" id="card"></i>
          </div>
        </div>
      </div>
      <hr>
      <center><h2>Unit 2</h2></center>
    </section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h4><b>FARM</b></h4>
        <h4>Location</h4>
        <h4>A.I Status: OK!</h4>
      </div>
    </div></div></section>
    <section>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Unit</th>
                <th scope="col">Line</th>
                <th scope="col">Pressure</th>
                <th scope="col">Site</th>
                <th scope="col">Blower speed</th>
                <th scope="col">Count</th>
                <th scope="col">Weight</th>
                <th scope="col">Biomass</th>
                <th scope="col">SFR</th>
                <th scope="col">Visits total</th>
                <th scope="col">Dose/visit</th>
                <th scope="col">Intensity</th>
                <th scope="col">Today's appetite</th>
                <th scope="col">Planned</th>
                <th scope="col">Feed Status</th>
                <th scope="col">Feed Control</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </section>
    <script src="/src/static/Js/jquery-3.5.1.min.js"></script>
</body>

