<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/src/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/static/css/style1.css">

    <link rel="stylesheet" href="/src/static/css/css/all.css">

    <title>AI Feeding</title>
  </head>

  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <img src="/src/static/img/logo1.png" alt="" id="logo1">
          </div>
          <div class="col-sm">
            <img src="/src/static/img/logo2.png" alt="" height="100px" id="logo2">
          </div>
          <div class="col-sm">
            <i class="fas fa-address-book" style="font-size: 80px;" id="card"></i>
          </div>
        </div>
      </div>
      <hr>
      <center><h2>Unit 2</h2></center>
    </section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h4><b>FARM</b></h4>
        <h4>Location</h4>
        <h4>A.I Status: OK!</h4>
      </div>

      <div class="col-sm">
      </div>

      <div class="col-sm" id="go">
          <div>
       <label for=""><b>Time Period(0-120)</b></label><br>
       <label for=""><b>Classification Acc.</b></label><br>
       <label for=""><b>Increase Feeding</b></label><br>
       <label for=""><b>Increase Feeding</b></label><br>     
          </div>
<div>
    <input type="text" placeholder="15"><br>
    <input type="text" placeholder="100"><br>
    <input type="text" placeholder="5 pellet"><br>
    <input type="text" placeholder="10 pellet"><br>
    <input type="button" value="Submit" id="but">
</div>
</div></div></div></section>
<br> <br><br>  

<section>
    <center><img src="/src/static/img/graph.jpg" class="img-fluid" alt="Responsive image"></center>
</section>
<script src="/src/static/Js/jquery-3.5.1.min.js"></script>
</body>
    

