#logo2{
    padding-left: 6rem;
}

#logo1{
    padding-top: 1.3rem;
}

#card{
font-size: 80px;
padding-left: 8rem;
padding-top: 1.3rem;
}

#go{
    display: flex;
}

#but{
    width: 11.3rem;
}